<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>vidos.fun</title>
    <style>
        #video {
            width: 100%;
        }
    </style>
    <script>
        let video;
        const room = "{{ room }}";

        function connectWebSocket() {
            const ws = new WebSocket("wss://" + location.host + "/ws/host/" + room);

            let seekTimeout;

            ws.onopen = () => console.log("WS connected");

            video.onplay = () => {
                ws.send(JSON.stringify({ event: "play", time: video.currentTime }));
            };

            video.onpause = () => {
                ws.send(JSON.stringify({ event: "pause", time: video.currentTime }));
            };

            // video.onseeked = () => {
            //     ws.send(JSON.stringify({ event: "seek", time: video.currentTime }));
            // };

            video.onseeking = () => {
                if (seekTimeout) return;
                seekTimeout = setTimeout(() => seekTimeout = null, 500);

                ws.send(JSON.stringify({
                    event: "seek",
                    time: video.currentTime
                }));
            }

            ws.onclose = () => {
                console.warn("WS closed, retrying...");
                setTimeout(connectWebSocket, 2000);
            };

            ws.onerror = (err) => {
                console.error("WS error", err);
                ws.close();
            };

            setInterval(() => {
                if (!video.paused) {
                    ws.send(JSON.stringify({
                        event: "sync",
                        time: video.currentTime
                    }));
                }
            }, 5000);
        }

        function onload() {
            video = document.querySelector("#video");

            connectWebSocket();
        }
    </script>
</head>
<body onload="onload()">
    <video id="video" controls muted src="{{ video_src }}"></video>
</body>
</html>