<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <script>
        let media;

        async function update() {
            let data = {
                currentTime: media.currentTime
            };

            let response = await fetch("http://localhost/test", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            let json = await response.json();
            // media.currentTime = json["test"];
            console.log(json["test"]);
        }

        function onload() {
            media = document.querySelector("#video");

            // media.ontimeupdate = async() => {
            //     let data = {
            //         currentTime: media.currentTime
            //     };

            //     let response = await fetch("http://localhost/updateTime", {
            //         method: "POST",
            //         headers: {
            //             'Content-Type': 'application/json'
            //         },
            //         body: JSON.stringify(data)
            //     });

            //     // let json = await response.json();
            // }
        }
    </script>
</head>
<body onload="onload()">
    <video id="video" controls muted src="{{ video_src }}"></video>
    <br>
    <button onclick="media.play()">Play</button>
    <button onclick="media.pause()">Pause</button>
    <button onclick="media.currentTime=25">25</button>
    <button onclick="setInterval(async() => update(), 1000)">Update</button>
</body>
</html>