<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>vidos.fun</title>
    <style>
        #video {
            width: 100%;
        }
    </style>
    <script>
        let video;
        const room = "{{ room }}";

        function connectWebSocket() {
            const ws = new WebSocket("wss://" + location.host + "/ws/spectator/" + room);

            ws.onopen = () => console.log("WS connected");

            ws.onmessage = (event) => {
            const data = JSON.parse(event.data);

            if (data.time !== undefined) {
                const delta = Math.abs(video.currentTime - data.time);
                if (delta > 0.5) {
                    video.currentTime = data.time;
                }
            }

            if (data.event === "play") {
                video.play();
            } else if (data.event === "pause") {
                video.pause();
            }
        };

            ws.onclose = () => {
                console.warn("WS closed, retrying...");
                setTimeout(connectWebSocket, 2000);
            };

            ws.onerror = (err) => {
                console.error("WS error", err);
                ws.close();
            };
        }

        function onload() {
            video = document.querySelector("#video");

            connectWebSocket();
        }
    </script>
</head>
<body onload="onload()">
    <video id="video" controls muted src="{{ video_src }}"></video>
</body>
</html>